---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
    title: 'Contact',
};
---

<Layout metadata={metadata}>
    <!-- HeroText Widget ******************* -->

    <HeroText tagline="Contact Me" title="Let's Chat!" />

    <ContactUs
        id="form"
        title="Drop me a message"
        subtitle="I would love to discuss how I can help you."
        inputs={[
            {
                type: 'text',
                name: 'name',
                label: 'Name',
            },
            {
                type: 'email',
                name: 'email',
                label: 'Email',
            },
        ]}
        textarea={{
            name: 'message',
            label: 'Message',
        }}
        disclaimer={{
            label: 'By submitting this contact form, you acknowledge and agree to the collection of your personal information.',
        }}
        button="Contact Me"
        description="I usually respond within 24 hours."
    />

    <!-- Features2 Widget ************** -->

    <Features2
        title="You can reach me at"
        items={[
            {
                title: 'LinkedIn',
                description:
                    '<a href="https://www.linkedin.com/in/prantaneel-pegu" class="hover:underline">https://www.linkedin.com/in/prantaneel-pegu</a>',
                icon: 'tabler:brand-linkedin',
            },
            {
                title: 'Email',
                description:
                    '<a href="mailto:contact@prantaneelpegu.com" class="hover:underline">contact@prantaneelpegu.com</a>',
                icon: 'tabler:mail',
            },
            {
                title: 'Phone',
                description: '<a href="tel:+919864700665" class="hover:underline">+91 9864 700 665</a>',
                icon: 'tabler:phone',
            },
        ]}
    />
</Layout>
